<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stick Note</title>
  <link rel = "shortcut icon" type="image/png"  href = "static/stickNoteLogo.png">
  <link rel="stylesheet" href="static/subStyle.css" />
</head>
<body>
  <div class="center">
    <section>
      <div class="logo">
        <a href="/"><img src="static/stickNoteLogo.png" alt="Stick Note"></a>
      </div>
           <h1>Welcome to Stick Note👋</h1>
    </section>
    <div class="link">
       <p><a href="/login">Sign In</a> or <a href="/signup">Sign Up</a> to continue</p>
    </div>
  </div>
</body>
</html>
